@model IEnumerable<Recipes.Models.Ingredient>

@{
    ViewBag.Title = "Recipe Ingredient List - MVC Recipe Database Example";
}

@Html.BodyTagUpdate("ingredient")
@Html.Partial("_RecipeNav")

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "styledForm" }))
{
    <fieldset>
        <div class="buttonlink">@Html.ActionLink("Create New", "Create")</div>
    </fieldset>


foreach (var item in Model)
{
    <ol>
        <li class="styled">
            <div class="display-button">@Html.ActionLink("Edit", "Edit", new { id = item.IngredientID, seofriendly = item.IngredientName.ToSeoUrl() }) </div>
            <div class="display-button">@Html.ActionLink("Details", "Details", new { id = item.IngredientID, seofriendly = item.IngredientName.ToSeoUrl() }) </div>
            <div class="display-button">@Html.ActionLink("Delete", "Delete", new { id = item.IngredientID, seofriendly = item.IngredientName.ToSeoUrl() }) </div>
            <div class="display-info">@item.IngredientName</div>
        </li>
    </ol>
}
}