@model Recipes.Models.Post

@{
    ViewBag.Title = "Edit Post - MVC Blog Engine Example";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "styledForm" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Post</legend>

        @Html.HiddenFor(model => model.BlogID)
        @Html.HiddenFor(model => model.PostID)
        @Html.HiddenFor(model => model.DateCreated)

         <ol>
            <li class="styled">
            @Html.LabelFor(model => model.Title)
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
            </li>
        </ol>

        <ol>
            <li class="styled">
            @Html.LabelFor(model => model.BriefContent)
            @Html.EditorFor(model => model.BriefContent)
            @Html.ValidationMessageFor(model => model.BriefContent)
            </li>
        </ol>

        <ol>
            <li class="styled">
            @Html.LabelFor(model => model.RestOfContent)
            @Html.EditorFor(model => model.RestOfContent)
            @Html.ValidationMessageFor(model => model.RestOfContent)
            </li>
        </ol>

    </fieldset>
    
    <fieldset>
        <input class="buttonlink" type="submit" value="Save" />
        <div class="buttonlink">@Html.ActionLink("Back to List", "../Post/Index", new { id = Model.BlogID })</div>
    </fieldset>
}