@model Recipes.ViewModels.YahooViewModel
@using Recipes.HtmlHelpers;
@Html.BodyTagUpdate("game")

    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
 

    <script type="text/javascript">

        $.ajaxSetup({ cache: false });

        function ShowDialog(msg) {
            $('<div/>').dialog({ title: 'Retrieved the following data', width: 450, height: 250, close: function(){ location.reload(); }}).html(msg);
        }

        function RetrieveData() {
            $.post('@Url.Action("AddDataToDB","yahoo")',
            function (d) {
                ShowDialog(d.o);
            });
        }

        function GetSomeData() {
            RetrieveData();
        }

    </script>

<style type="text/css">
    .webgrid
    {
        width: 100%;
        border: 0px;
        border-collapse: collapse;
        font-size:13px;
        color:#000000;

        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-family: Verdana;
        color: #000000;
        line-height: 1.6em;
        border-top: 1px solid #D6E8FF;
        border-left: 1px solid #D6E8FF;
        border-right: 1px solid #D6E8FF;
    }
    .webgrid-header
    {
        padding: 6px 5px;
        text-align: left;
        background-color: #3399FF; /*#D8D8D8;*/
        border-bottom: 2px solid #3966A2;
        height: 20px;
        border-top: 1px solid #D6E8FF;
        border-left: 1px solid #D6E8FF;
        border-right: 1px solid #D6E8FF;
    }
    .webgrid-footer
    {
        padding: 6px 5px;
        text-align: center;
       /* background-color: #e8eef4;  */
        background-color: #ffffff;
        border-top: 2px solid #3966A2;
        height: 30px;

        border-bottom: 2px solid #D6E8FF;
        border-left: 2px solid #D6E8FF;
        border-right: 2px solid #D6E8FF;
    }
    .webgrid-alternating-row
    {
        height: 30px;
        background-color: #f2f2f2;
        border-bottom: 1px solid #d2d2d2;
        border-left: 2px solid #D6E8FF;
        border-right: 2px solid #D6E8FF;
        border-top:1px solid #d2d2d2;
    }
    .webgrid-row-style
    {
        height: 30px;
        border-bottom: 1px solid #d2d2d2;
        border-top:1px solid #d2d2d2;
        border-left: 1px solid #D6E8FF;
        border-right: 1px solid #D6E8FF;
    }
    .webgrid-selected-row
    {
        font-weight: bold;
    }    
    .alt {background-color: #E8E8E8; color: #000;}
    .time {width: 200px; font-weight:bold;}
    .company{width: 140px;}
    .volume{width: 100px;}
    .ask{width: 70px;}

</style>

<div id="page" style="min-width:500px">
    @Html.Partial("_YahooNav")

    <div id="wbgrid" style="float:left; min-width:500px;">
        @Html.Partial("_WebGrid", Model)
    </div>
    @Html.Partial("Doggy")
    <div id="stopstart" style="padding:10px; height: 25px; clear: both;">
    <!-- <input id="getsomedata" type="button" style="margin:3px" onclick="location.href='@Url.Action("AddDataToDB", "Yahoo", null)'" value="GetSomeData" /> -->
    <input id="getsomedata" type="button" style="margin:3px" onclick="GetSomeData();" value="GetSomeData" />
        <input id="stop" type="button" style="margin:3px" onclick="Stop();" value="Stop" />
        <input id="start" type="button" style="margin:3px" onclick="Start();" value="Start" />
        <input id="dlg" type="button" style="margin:3px" onclick="ShowDialog();" value="Dialog" />
    </div>