@model Recipes.ViewModels.BlogViewModel
@{
    ViewBag.Title = "Evgeny - A Software Developer. C# ASP.NET MVC SQL Server jQuery";
}
<link href="@Url.Content("~/Content/BlogNew.css")" rel="stylesheet" type="text/css" />
<div id="middlecolumn">
	<div id="content">
        <h2>Recent Blog Posts</h2>   
		<div id="main">

        @foreach (Recipes.Models.Post post in Model.Posts)
        {

			<div class="post-wrap">
				<h2>@Html.ActionLink(post.Title, "../Post/Display", new { id = post.PostID, seofriendly = post.Title.ToSeoUrl() })</h2>
				<p class="date">@post.DateCreated.Day.ToString()<span>@post.DateCreated.ToString("MMM")</span></p>
				<ul class="meta">
					<li>Posted in 
                    @foreach (Recipes.Models.PostLabel label in post.PostLabels)
                    {
                        var link = "Blog/Index?p=0&blogId=" + Model.BlogId + "&label=" + label.Label.Name;
                        <a href="@link">@label.Label.Name &nbsp;</a>
                    }
                    </li>
					<li class="comments"><a href="#">0 Comments</a></li>
				</ul>
				<div class="post-content">  
                    @MvcHtmlString.Create(post.BriefContent)                    
				</div><!-- post-content-->
                <li class="comments">@Html.ActionLink("Read more", "../Post/Display", new { id = post.PostID, seofriendly = post.Title.ToSeoUrl() })</li>
			</div><!-- post-wrap -->
        }

		</div> <!-- main -->
	</div> <!-- content -->

</div>
@Html.HighLightSyntax()
