<nav role="navigation">
    <ul id="topmenu">
		<li id="nav-recipe">@Html.ActionLink("Recipes", "../Recipe/Index")</li>
        <li id="nav-category">@Html.ActionLink("Categories", "../Category/Index")</li>
        <li id="nav-subcategory">@Html.ActionLink("SubCategories", "../SubCategory/Index")</li>
        <li id="nav-ingredient">@Html.ActionLink("Ingredients", "../Ingredient/Index")</li>
        <li id="nav-mealplan">@Html.ActionLink("Meal Plans", "../MealPlan/Index")</li>
    </ul>
</nav>

