@model Recipes.ViewModels.LeftMenuViewModel

@{ Layout = null; }

<div class="menu">
    <ul>
        <li><h2>Navigation</h2>
            <ul>
                <li>@Html.ActionLink("Information", "../Home/Index")
                    <ul>
                        <li>@Html.ActionLink("About Me", "../Home/Index")
                        <li>@Html.ActionLink("Resume", "../Resume")
                        <li><a href="https://www.elance.com/s/evgenyr/10183">Elance</a></li>
                    </ul>
                </li>
                <li><a href="#">Examples</a>
                    <ul>
                        <li>@Html.ActionLink("Blog Engine", "../Blog/Index")
                        <li>@Html.ActionLink("Yahoo Finance", "../Yahoo/Index")
                        <li>@Html.ActionLink("Stepping Stone", "../Stone/Index")
                        <li>@Html.ActionLink("Google Search", "../Search/Index")
                        <li><a href="#">More Examples</a>
                            <ul>
                                <li>@Html.ActionLink("Photobox Gallery", "../Photobox/Index")
                                <li>@Html.ActionLink("MVC Game Of Life", "../Game/Index")
                                <li>@Html.ActionLink("jQuery Game Of Life", "../jqGame/Index")
                            </ul>
                        <li>@Html.ActionLink("Recipes", "../Recipe/Index")
                        <ul>
                        @for(int i=0; i<Model.elements.Count(); i++)
                        {
                         <li>@Html.ActionLink(Model.elements[i].name, @Html.CategoryAction(Model.elements[i].id).ToString())
                            <ul>
                                @for(int j=0; j<Model.elements[i].children.Count(); j++)
                                {
                                    <li>@Html.ActionLink(Model.elements[i].children[j].name, @Html.SubCategoryAction(Model.elements[i].children[j].id).ToString())</li>
                                }
                            </ul>
                        </li>                           
                        }
                    </ul>
                    </li>
                    </ul>
                </li>
                <li><a href="#">Latest Blog Posts</a>
                    <ul>
                        <li><a href="http://justmycode.blogspot.com.au/2012/08/learning-mvc-display-custom-error-page.html">Learning MVC: Display a Custom Error Page, Log Error and Send Email</a></li>
                        <li><a href="http://justmycode.blogspot.com.au/2012/08/learning-mvc-game-of-life-in-mvc.html">Learning MVC: Game of Life in MVC </a></li>
                        <li><a href="http://justmycode.blogspot.com.au/2012/08/the-case-of-strangely-coloured.html">The Case of a Strangely Coloured ProgressBar</a></li>
                        <li><a href="http://justmycode.blogspot.com.au/2012/08/installing-windows-updates-via-shell.html">Installing Windows Updates via Shell Script</a></li>
                        <li><a href="http://justmycode.blogspot.com.au/2012/07/game-of-life-exercise-and-extension.html">Game of Life Exercise and Extension Methods</a></li>
                    </ul>
                </li>
                <li>@Html.ActionLink("TODO List", "../Home/Todo")</li>
            </ul>
        </li>
    </ul>
</div>

