@model Recipes.ViewModels.BlogViewModel
@{
    ViewBag.Title = "Blog Details - MVC Blog Engine Example";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Blog</legend>
        <ol>
            <li class="styled">
                <div class="display-label">
                    Name</div>
                <div class="display-field">@Model.Blog.Title</div>
            </li>
        </ol>
        <ol>
            <li class="styled">
                <div class="display-label">
                    Blogger Name</div>
                <div class="display-field">@Html.ActionLink(Model.Blog.Blogger.BloggerName, "../Blogger/Details", new { id = Model.Blog.BloggerID, seofriendly = Model.Blog.Title.ToSeoUrl() })</div>
            </li>
        </ol>
    </fieldset>

    <fieldset>
        <div class="buttonlink">@Html.ActionLink("Edit", "Edit", new { id = Model.Blog.BlogID, seofriendly = Model.Blog.Title.ToSeoUrl() })</div>
        <div class="buttonlink">@Html.ActionLink("Back to List", "../Blog/List")</div>
    </fieldset>
}