@model Recipes.ViewModels.BlogViewModel
@{
    ViewBag.Title = "Edit Blog - MVC Blog Engine Example";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "styledForm" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Blog</legend>
        @Html.HiddenFor(model => model.Blog.BlogID)
        <ol>
            <li class="styled">
                @Html.LabelFor(model => model.Blog.Title)
                @Html.EditorFor(model => model.Blog.Title)
                @Html.ValidationMessageFor(model => model.Blog.Title)
            </li>
        </ol>
        <ol>
            <li class="styled">
                @Html.LabelFor(model => model.Blog.Blogger.BloggerName)
                @Html.DropDownListFor(model => model.Blog.Blogger.BloggerID, new SelectList(Model.Bloggers, "BloggerID", "BloggerName", Model.Blog.Blogger.BloggerID))
                @Html.ValidationMessageFor(model => model.Blog.Blogger.BloggerID)
            </li>
        </ol>
    </fieldset>
    
    <fieldset>
        <input class="buttonlink" type="submit" value="Save" />
        <div class="buttonlink">@Html.ActionLink("Back to List", "Index")</div>
    </fieldset>
}
