@model Recipes.ViewModels.BlogViewModel
@{
    ViewBag.Title = "Main Page - MVC Blog Engine Example";
}

@section mySection {
    @Html.Action("BlogCategories", "BlogEntry")
}

<script type="text/javascript">
<!--
    function Display() {
        $('#update').load("/Blog/Update", { id: $("#Blog_BlogID").val() });
    };

    function MorePosts() {
        var newValue = parseInt($("#hiddenPosts").val()) + 1;
        $('#hiddenPosts').val(newValue);
        $('#update').load("/Blog/MorePosts", { id: $("#Blog_BlogID").val(), postsDisplayed: newValue });
    };

    function LessPosts() {
        var newValue = $("#hiddenPosts").val() - 1;
        $('#hiddenPosts').val(newValue);
        $('#update').load("/Blog/LessPosts", { id: $("#Blog_BlogID").val(), postsDisplayed: newValue});
    };
-->
</script>
@using (Html.BeginForm(null, null, FormMethod.Post, new {@class = "styledForm" }))
{
    <div id="editorRows">
        <ol>
            <li class="styled">
                @Html.ValidationMessageFor(model => model.Blog.BlogID)
                <div class="display-label" style="width: 200px">
                    Select a Blog to Display:
                </div>@Html.DropDownListFor(model => model.Blog.BlogID, new SelectList(Model.Blogs, "BlogID", "Title", Model.Blog.BlogID))
                <input class="buttonright" id="display" type="button" onclick="Display();" value="Display" />
                <div class="buttonright" style="float: right">@Html.ActionLink("Manage Blogs", "List")</div>
                <div class="buttonright" style="float: right">@Html.ActionLink("Manage Bloggers", "../Blogger/Index")</div>
            </li>
        </ol>
    </div>
    
    <div id="update">
        @Html.Partial("_BlogContent", Model)
    </div>
}

@Html.HighLightSyntax()