@model Recipes.ViewModels.BlogViewModel
@{
    ViewBag.Title = "Main Page - MVC Blog Engine Example";
}

@section mySection {
    @Html.Action("BlogCategories", "BlogEntry")
}

<link href="@Url.Content("~/Content/BlogNew.css")" rel="stylesheet" type="text/css" />

<script type="text/javascript">
    function Display() {
        $('#update').load("/Blog/Update", { id: $("#Blog_BlogID").val() });
    };
</script>

@{
  var currentPage = ViewContext.RequestContext.HttpContext.Request["p"] != null 
    ? int.Parse(ViewContext.RequestContext.HttpContext.Request["p"]) 
    : 1;
     
  var totalPages = Math.Ceiling((double)Model.TotalPosts / 10);  
}

@using (Html.BeginForm(null, null, FormMethod.Get, new { id = "myform" }))
{
<div id="container">

	<div id="container-header">
		<ul id="nav">
            <li><label>Select blog: </label>@Html.DropDownListFor(model => model.BlogId, new SelectList(Model.Blogs, "BlogId", "Title", Model.BlogId), new { onChange = "document.getElementById('myform').submit()" })</li>
            <li>@Html.ActionLink("Manage Blogs", "List")</li>
            <li>@Html.ActionLink("Manage Bloggers", "../Blogger/Index")</li>
		</ul>
	</div>

	<div id="content">
		<div id="main">

        @foreach (Recipes.Models.Post post in Model.Posts)
        {

			<div class="post-wrap">
				<h2>@Html.ActionLink(post.Title, "../Post/Display", new { id = post.PostID, seofriendly = post.Title.ToSeoUrl() })</h2>
				<p class="date">@post.DateCreated.Day.ToString()<span>@post.DateCreated.ToString("MMM")</span></p>
				<ul class="meta">
					<li>Posted in <a href="#">Vlog</a></li>
					<li class="comments"><a href="#">5 Comments</a></li>
				</ul>
				<div class="post-content">  
                    @MvcHtmlString.Create(post.BriefContent)                    
				</div><!-- post-content-->
			</div><!-- post-wrap -->
        }
			
            @if (currentPage > 1 || currentPage < totalPages)
            {
                var p = string.Format("p={0}", currentPage - 1);
                var n = string.Format("p={0}", currentPage + 1);

                p = String.Concat("?", p);
                n = String.Concat("?", n);

                var b = string.Format("&blogId={0}", Model.Blog.BlogID);
                p = String.Concat(p, b);
                n = String.Concat(n, b);

			<div class="pagination">
				<p class="prev" style="visibility:@(currentPage > 1 ? "visible" : "collapse")"><a href="@p">Newer posts</a></p>
				<p class="next" style="visibility:@(currentPage < totalPages ? "visible" : "collapse")"><a href="@n">Older posts</a></p>
			</div>
            }
		</div> <!-- main -->
		
		<div id="side">
			<div id="categories">
				<h3>Categories</h3>
				<ul>
					<li><a href="#">Apple</a> 4</li>
					<li><a href="#">Design</a> 3</li>
					<li><a href="#">Events</a> 2</li>
					<li><a href="#">Giveaways</a> 5</li>
					<li><a href="#">Vlog</a> 48</li>
					<li><a href="#">Website News</a> 2</li>
				</ul>
			</div>
		</div>
	</div> <!-- content -->
</div> <!-- container -->
}

@Html.HighLightSyntax()