@model Recipes.Models.Recipe

@{
    ViewBag.Title = "Delete Recipe - MVC Recipe Database Example";
}

@Html.BodyTagUpdate("recipe")
@Html.Partial("_RecipeNav")

<h3>Are you sure you want to delete this?</h3>

@using (Html.BeginForm()) {
@Html.ValidationSummary(true)
<fieldset>
    <legend>Recipe</legend>

    <ol class="styled">
        <li class="styled">
            @Html.LabelFor(model => model.RecipeName)
            <div class="display-field">@Model.RecipeName</div>
        </li>
    </ol>

    <ol class="styled">
        <li class="styled">
           @Html.LabelFor(model => model.Category.CategoryName)
           <div class="display-field">@Model.Category.CategoryName</div>
        </li>
    </ol>

</fieldset>

<fieldset>
    <input class="buttonlink" type="submit" value="Delete" />
    <div class="buttonlink">@Html.ActionLink("Back to List", "Index")</div>
</fieldset>
}


