@model Recipes.ViewModels.RecipeViewModel

@{
    ViewBag.Title = "Edit";
}

@Html.BodyTagUpdate("recipe")
@Html.Partial("_RecipeNav")

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>

<script type="text/javascript">
<!--
    $(function () {
        $('#Recipe_Category_CategoryID').change(function () {
            var selectedCategoryId = $(this).val();
            $.getJSON('@Url.Action("SelectCategory")', { categoryid: selectedCategoryId }, function (subcategories) {
                var subsSelect = $('#Recipe_SubCategoryID');
                subsSelect.empty();
                $.each(subcategories, function (index, subcat) {
                    subsSelect.append(
                        $('<option/>')
                            .attr('value', subcat.SubCategoryID)
                            .text(subcat.SubCategoryName)
                    );
                });
            });
        });
    });
-->
</script>


@using (Html.BeginForm()) 
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Recipe</legend>

        @Html.HiddenFor(model => model.Recipe.RecipeID)

        <ol>
            <li class="styled">
                @Html.LabelFor(model => model.Recipe.RecipeName)
                @Html.EditorFor(model => model.Recipe.RecipeName)
                @Html.ValidationMessageFor(model => model.Recipe.RecipeName)
            </li>
        </ol>

        <ol>
            <li class="styled">
                @Html.LabelFor(model => model.Recipe.Category.CategoryName)
                @Html.DropDownListFor(model => model.Recipe.Category.CategoryID, new SelectList(Model.Categories, "CategoryID", "CategoryName", Model.Recipe.Category.CategoryID))
                @Html.ValidationMessageFor(model => model.Recipe.Category.CategoryID)
            </li>
        </ol>

        <ol>
            <li class="styled">
                @Html.LabelFor(model => model.Recipe.SubCategory.SubCategoryName)
                @Html.DropDownListFor(model => model.Recipe.SubCategoryID, new SelectList(Model.SubCategories, "SubCategoryID", "SubCategoryName", Model.Recipe.SubCategoryID))
                @Html.ValidationMessageFor(model => model.Recipe.SubCategoryID)
            </li>
        </ol>
    </fieldset>
    
    <fieldset>
        <legend>Ingredients</legend>
        <div id="editorRows">
        <ol>
            @foreach (var item in Model.Recipe.RecipeIngredients)
            {
                @Html.Partial("_RIEditor", item)
            }
        </ol>
        </div>
        <div class="buttonlink">@Html.ActionLink("Add", "Add", null, new {id = "addItem"})</div>
    </fieldset>
    
    <fieldset>
        <input class="buttonlink" type="submit" value="Save" />
        <div class="buttonlink">@Html.ActionLink("Back to List", "Index")</div>
    </fieldset>
}

<script type="text/javascript">
<!--
    $("#addItem").click(function () {
        $.ajax({
            url: this.href,
            cache: false,
            success: function (html) { $("#editorRows").append(html); }
        });
        return false;
    });

    $("a.deleteRow").live("click", function () {
        $(this).parents("div.editorRow:first").remove();
        return false;
    });
    -->
</script>


