@model Recipes.ViewModels.CategoryViewModel

@{
    ViewBag.Title = "Edit Recipe Category - MVC Recipe Database Example";
}

@Html.BodyTagUpdate("category")
@Html.Partial("_RecipeNav")

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "styledForm" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Category</legend>

        @Html.HiddenFor(model => model.Category.CategoryID)

        <ol>
            <li class="styled">
                @Html.LabelFor(model => model.Category.CategoryName)
                @Html.EditorFor(model => model.Category.CategoryName)
                @Html.ValidationMessageFor(model => model.Category.CategoryName)
            </li>
        </ol>

        <ol>
            <li class="styled">
                @Html.LabelFor(model => model.Category.Description)
                @Html.EditorFor(model => model.Category.Description)
                @Html.ValidationMessageFor(model => model.Category.Description)
            </li>
        </ol>
    </fieldset>
    
    <fieldset>
        <input class="buttonlink" type="submit" value="Save" />
        <div class="buttonlink">@Html.ActionLink("Back to List", "Index")</div>
    </fieldset>
}
