@model Recipes.Models.Post

@{
    ViewBag.Title = "Delete Post - MVC Blog Engine Example";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "styledForm" }))
{
<fieldset>

       <div class="display-warning">Are you sure you want to delete this post?</div>
        <ol>
            <li class="styled"><div class="display-field">@Model.Title</div></li>

        </ol>

    <legend>Post</legend>

        <ol>
            <li class="styled">
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.DateCreated)</div>
                <div class="display-field">@Html.DisplayFor(model => model.DateCreated)</div>
            </li>
        </ol>
        
        <ol>
            <li class="styled">
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.BriefContent)</div>
                <div class="display-field">@Html.DisplayFor(model => model.BriefContent)</div>
            </li>
        </ol>   

        <ol>
            <li class="styled">
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.RestOfContent)</div>
                <div class="display-field">@Html.DisplayFor(model => model.RestOfContent)</div>
            </li>
        </ol>   

</fieldset>
    
    <fieldset>
    <input class="buttonlink" type="submit" value="Delete" />
    <div class="buttonlink">@Html.ActionLink("Back to List", "../Post/Index", new { id = Model.BlogID })</div>
</fieldset>

}
