@model Recipes.Models.Post
@{
    ViewBag.Title = "Post Details - MVC Blog Engine Example";
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Post</legend>
        <ol>
            <li class="styled">
                <div class="display-label">@Html.DisplayNameFor(model => model.Title)</div><br/>
                <div class="display-textarea">@Html.DisplayFor(model => model.Title)</div>
            </li>
        </ol>
        <ol>
            <li class="styled">
                <div class="display-label">@Html.DisplayNameFor(model => model.DateCreated)</div>
                <div class="display-field">@Html.DisplayFor(model => model.DateCreated)</div>
            </li>
        </ol>
        <ol>
            <li class="styled">
                <div class="display-label">@Html.DisplayNameFor(model => model.BriefContent)</div><br/>
                <div class="display-textarea">@Html.DisplayFor(model => model.BriefContent)</div>
            </li>
        </ol>
        <ol>
            <li class="styled">
                <div class="display-label">@Html.DisplayNameFor(model => model.RestOfContent)</div><br/>
                <div class="display-textarea">@Html.DisplayFor(model => model.RestOfContent)</div>
            </li>
        </ol>
    </fieldset>

    <fieldset>
        <div class="buttonlink">@Html.ActionLink("Edit", "Edit", new { id = Model.PostID, seofriendly = Model.Title.ToSeoUrl() })</div>
        <div class="buttonlink">@Html.ActionLink("Back to List", "../Post/Index", new { id = Model.BlogID })</div>
    </fieldset>
}
