@model Recipes.Models.Post
<link href="@Url.Content("~/Content/BlogNew.css")" rel="stylesheet" type="text/css" />
@{
    ViewBag.MetaDescription = Model.Description;
    ViewBag.MetaKeywords = Model.Keywords;
    ViewBag.Title = Model.Title;
}

<div id="content">
    <div id="main">
        <div class="post-wrap">
	        <h2>@Model.Title</h2>
	        <p class="date">@Model.DateCreated.Day.ToString()<span>@Model.DateCreated.ToString("MMM")</span></p>
	        <ul class="meta">
		        <li>Posted in <a href="#">Vlog</a></li>
		        <li class="comments"><a href="#">5 Comments</a></li>
	        </ul>
	        <div class="post-content">  
                @MvcHtmlString.Create(Model.BriefContent)    
                @MvcHtmlString.Create(Model.RestOfContent)                
	        </div><!-- post-content-->
        </div><!-- post-wrap -->
    </div>
</div>

@Html.HighLightSyntax()
