@model Recipes.ViewModels.BloggerViewModel

@{
    ViewBag.Title = "Blogger Details - MVC Blog Engine Example";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "styledForm" }))
{
<fieldset>
    <legend>Blogger</legend>

        <ol>
        <li class="styled">
            <div class="display-label">@Html.LabelFor(model => model.Blogger.BloggerName)</div>
            <div class="display-field">@Model.Blogger.BloggerName</div>
        </li>
    </ol>
</fieldset>

@if (Model.Blogs != null && Model.Blogs.Count > 0)
{ 
    <fieldset>
        <legend>Has the following blogs</legend>
        <ol>
            @foreach (Recipes.Models.Blog b in Model.Blogs)
            { 
                <li class="styled">
                    <div class="display-label">
                    </div>
                    <div class="display-field">@Html.ActionLink(b.Title, "../Blog/Details", new { id = b.BlogID, seofriendly = b.Title.ToSeoUrl() })</div>
                </li>
            }
        </ol>
    </fieldset>
}

<fieldset>
    <div class="buttonlink">@Html.ActionLink("Edit", "Edit", new { id = Model.Blogger.BloggerID, seofriendly = Model.Blogger.BloggerName.ToSeoUrl() })</div>
    <div class="buttonlink">@Html.ActionLink("Back to List", "Index")</div>
</fieldset>
}
