@model Recipes.ViewModels.SubCategoryViewModel

@{
    ViewBag.Title = "Recipe SubCategory Details - MVC Recipe Database Example";
}

@Html.BodyTagUpdate("subcategory")
@Html.Partial("_RecipeNav")

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "styledForm" }))
{
<fieldset>
    <legend>SubCategory</legend>

    <ol>
        <li class="styled">
            <div class="display-label">SubCategoryName</div>
            <div class="display-field">@Html.DisplayFor(model => model.SubCategory.SubCategoryName)</div>
        </li>
    </ol>

    <ol>
        <li class="styled">
            <div class="display-label">Description</div>
            <div class="display-field">@Html.DisplayFor(model => model.SubCategory.Description)</div>
        </li>
    </ol>
</fieldset>

if (Model.SubCategory.Recipes != null && Model.SubCategory.Recipes.Count > 0)
{
<fieldset>
    <legend>These Recipes Belong to the SubCategory:</legend>
    <ol>
    @foreach (var item in Model.SubCategory.Recipes)
    {
        <li class="styled">
            <div class="display-label"></div>
            <div class="display-field">@Html.ActionLink(item.RecipeName, "../Recipe/Details", new { id = item.RecipeID, seofriendly = item.RecipeName.ToSeoUrl() })</div>
        </li>
    }
    </ol>
</fieldset>
}

<fieldset>
    <div class="buttonlink">@Html.ActionLink("Edit", "Edit", new { id = Model.SubCategory.SubCategoryID, seofriendly = Model.SubCategory.SubCategoryName.ToSeoUrl() })</div>
    <div class="buttonlink">@Html.ActionLink("Back to List", "Index")</div>
</fieldset>
}
