@model Recipes.Models.Blog
@{
    ViewBag.Title = "Delete";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="display-warning">Are you sure you want to delete this? You are deleting the blog:</div>
        <ol>
            <li class="styled"><div class="display-field">@Model.Title</div></li>

        </ol>
        <div class="display-warning">Blog and all posts will be deleted forever, without the option to recover. Please make sure you have made backups.</div> 

        <legend>Blog</legend>
        <ol class="styled">
            <li class="styled">
                @Html.LabelFor(model => model.Title)
                <div class="display-field">@Model.Title</div>
            </li>
        </ol>
        <ol class="styled">
            <li class="styled">
                @Html.LabelFor(model => model.Blogger.BloggerName)
                <div class="display-field">@Model.Blogger.BloggerName</div>
            </li>
        </ol>
    </fieldset>
    
    <fieldset>
        <input class="buttonlink" type="submit" value="Delete" />
        <div class="buttonlink">@Html.ActionLink("Back to List", "Index")</div>
    </fieldset>

}
