@model Recipes.ViewModels.SubCategoryViewModel

@{
    ViewBag.Title = "Edit Recipe SubCategory - MVC Recipe Database Example";
}

@Html.BodyTagUpdate("subcategory")
@Html.Partial("_RecipeNav")

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>SubCategory</legend>

         @Html.HiddenFor(model => model.SubCategory.SubCategoryID)
         @Html.HiddenFor(model => model.SubCategory.CategoryID)

        <ol>
            <li class="styled">
                @Html.LabelFor(model => model.SubCategory.SubCategoryName)
                @Html.EditorFor(model => model.SubCategory.SubCategoryName)
                @Html.ValidationMessageFor(model => model.SubCategory.SubCategoryName)
            </li>
        </ol>

        <ol>
            <li class="styled">
                @Html.LabelFor(model => model.SubCategory.Description)
                @Html.EditorFor(model => model.SubCategory.Description)
                @Html.ValidationMessageFor(model => model.SubCategory.Description)
            </li>
        </ol>
    </fieldset>
    
    <fieldset>
        <input class="buttonlink" type="submit" value="Save" />
        <div class="buttonlink">@Html.ActionLink("Back to List", "Index")</div>
    </fieldset>    
}